.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.btn{
    cursor: pointer;
}
.return-btn-icon{
    width: 12px;
    height: 13px;
    color: #fff;
}
/**/
.cm-link-btn{
    color: #409EFF;
    cursor: pointer;
}
.cm-area-picker{
    select{
        height: 32px;
        line-height: 32px;
        padding: 0.2rem 0.75rem;
        font-size: 14px;
    }
}
.cm-btn{
    cursor: pointer;
}
/**/
.container-hd{
    padding-bottom: 10px;
    border-bottom: 1px solid #E4E7ED;
}
/**/
.handle-box{
    margin-bottom: 20px;
}


/*复用图标*/
.blue-icon{
    color: #48b4ff;
}
.text-logo-icon{
    display: inline-block;
    background: url("../images/common/text-logo-icon.png") no-repeat;
    width: 141px;
    height: 47px;
    background-size: 100% 100%;
}

/*框架样式覆盖*/
.crumbs{
    .active{
        .el-breadcrumb__inner{
            color: #48b4ff;
        }
    }
}
.container{
    &.container{
        margin-top: 10px;
    }
}
